.container {
    background-color: #494846;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }
  