.container {
  background-color: #494846;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  button {
    padding: 10px 30px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    text-transform: capitalize;
    cursor: pointer;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    transition: all 0.6s;
    i {
      display: block;
      font-size: 25px;
    }
  }
}
.active {
  background-color: rgba(4, 4, 73, 0.247) !important;
  filter: blur(0) !important;
  -webkit-filter: blur(0) !important;
  border-radius: 10px;
}
